/src/Build/*
/src/Build/Debug
/src/ReleaseBuild/*
/src/DISTRO/*
/src/Contrib/MiniSqlQuery.ExternalTools.Plugin/obj/
/src/MiniSqlQuery/obj/*
/src/MiniSqlQuery.Core/bin/*
/src/MiniSqlQuery.Core/obj/*
/src/TestDatabases
/src/MiniSqlQuery.Core/obj/*
/src/Contrib/MiniSqlQuery.Exports.Plugin/obj/*
/src/MiniSqlQuery.Tests/bin/Debug
/src/MiniSqlQuery.Tests/obj/Debug
/src/_ReSharper*/*
/src/.vs/MiniSqlQuery/v15/Server/sqlite3
/src/Contrib/.vs/MiniSqlQuery.Contrib/v15/Server/sqlite3
*.cache
*.suo
*.user
