<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniSqlQuery.TemplateViewer.PlugIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MiniSqlQuery.TemplateViewer.PlugIn.Properties.Settings>
            <setting name="SqlFileFilter" serializeAs="String">
                <value>*.sql</value>
            </setting>
        </MiniSqlQuery.TemplateViewer.PlugIn.Properties.Settings>
    </applicationSettings>
</configuration>