<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniSqlQuery.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MiniSqlQuery.Core.Properties.Settings>
            <setting name="DefaultConnectionDefinitionFilename" serializeAs="String">
                <value />
            </setting>
        </MiniSqlQuery.Core.Properties.Settings>
    </applicationSettings>
</configuration>