<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniSqlQuery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniSqlQuery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MiniSqlQuery.Properties.Settings>
            <setting name="NammedConnection" serializeAs="String">
                <value>Default - MSSQL Master@localhost</value>
            </setting>
            <setting name="EnableQueryBatching" serializeAs="String">
                <value>True</value>
            </setting>
        </MiniSqlQuery.Properties.Settings>
    </userSettings>
  <!--<system.windows.forms jitDebugging="true"/>-->
    <applicationSettings>
        <MiniSqlQuery.Properties.Settings>
            <setting name="FileDialogFilter" serializeAs="String">
                <value>SQL Files (*.sql)|*.sql|All Files (*.*)|*.*</value>
            </setting>
            <setting name="PlugInFileFilter" serializeAs="String">
                <value>*.PlugIn.dll</value>
            </setting>
            <setting name="XmlFileDialogFilter" serializeAs="String">
                <value>XML Files (*.xml)|*.xml|All Files (*.*)|*.*</value>
            </setting>
            <setting name="SqlFileFilter" serializeAs="String">
                <value>*.sql</value>
            </setting>
        </MiniSqlQuery.Properties.Settings>
    </applicationSettings>
</configuration>